.tower {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: 400px;
}

.building {
    height: 200px;
    width: 100px;
    background-color: aqua;
    border: dotted 1px yellow;
}

.strip-mall {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: green;
    height: 400px;
}

.superior-dojo {
    height: 150px;
    width: 150px;
    background-color: aqua;
    border: dotted 1px yellow;
    flex-grow: 0.3;
}

.dojo {
    height: 150px;
    width: 150px;
    background-color: aqua;
    border: dotted 1px yellow;
    flex-grow: 0.05;
}